@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	
	.first-menu 
		.icons 
			li
				margin: 0 15px
	.my-menu 
		li
			margin-left: 70px
	.slider
		.slide
			.slide-content-text
				left: 0
				height: 288px
				width: 600px
				&::before
					height: 170px
			h2
				font-size: 45px
			p
				margin-bottom: 90px
				font-size: 19px
		.slide-content
			padding-left: 15px
	
	.section-news 
		.news-wrapper 
			.news-item
				.img-news
				.news-content
					padding-top: 16px
					span
						padding: 6px 55px 6px 10px
						margin-left: -31px
						font-size: 11px
					p
						margin-left: -20px
						font-size: 12px
						padding-top: 5px
				.btn
					font-size: 14px
					img
						height: 28px
						padding-left: 5px
					.button
						padding: 4px 37px

	.section-1 
		.tascs-left
			p
				font-size: 14px
				margin: 40px -20px
			&::before
				height: 165px
		.tascs-right
			p
				font-size: 14px
			&::before
				height: 165px
		.claster-img-right 
			img
				height: 165px
				width: 165px
		.claster-img-left 
			img
				height: 165px
				width: 165px



			

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.menu-wrapper
		.logo-wrapper
			.logo
				right: 0
	.first-menu
		text-align: right
		li
			margin: 0 15px
	.my-menu
		li
			margin-left: 70px
	
	
	.section-1 
		.claster-img-right 
			img
				height: 145px
				width: 145px
		.claster-img-left 
			img
				height: 145px
				width: 145px
		.tascs-left
			margin-left: 35px
			p
				margin: 40px -25px
			&::before
				height: 144px
		.tascs-right
			p
				margin: 30px -10px
			&::before
				height: 144px
	

	.my-footer
		.main-footer 
			li 
				a
					font-size: 12px
		.soc-section
			.soc-wrapper
				.soc
					a
						.fa
							font-size: 40px
							&:hover
								font-size: 54px
							&:active
								font-size: 44px
					li
						margin: 0 20px

		.callback
			h3
				font-size: 20px 
			input
				width: 270px

	.section-news 
		.news-wrapper 
			.news-item
				.img-news
				.news-content
					padding-top: 19px
					span
						padding: 6px 90px 6px 10px
						margin-left: -30px
						font-size: 14px
					p
						margin-left: -19px
						font-size: 15px
				.btn
					margin-right: -19px
					font-size: 15px
					.button
						padding: 4px 40px
					img
						width: 27px
	.section-default
		padding-top: 0
	
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/
	.logo
		right: 50px
	.first-menu
		text-align: right
	
	.slider 
		.slide 
			.slide-content-text
				width: 300px
				height: 150px
				padding-left: 50px
				p
					font-size: 11px
					margin-bottom: 30px
				h2
					font-size: 20px
					margin-top: 0
					margin-bottom: 15px
				&::before
					height: 110px
					top: 15px
					width: 2px
					left: 33px
			.button
				bottom: 215px
				padding: 5px 33px
				margin-left: 5px
				font-size: 12px


	.section-1  
		.claster-img-right
			padding: 0 
		.tascs-left
			margin-left: -5px
			padding-bottom: 70px
			p
				font-size: 16px
				margin: 15px -25px
			&::before
				top: 3px  


	.section-news 
		.news-wrapper 
			.news-item
				.img-news
					img
						height: 190px
				.news-content
					padding-top: 17px
					span
						padding: 4px 65px 4px 10px
						margin-left: -30px
						font-size: 14px
					p
						margin-left: -19px
						font-size: 14px
						min-height: 125px
				.btn
					margin-left: -159px
					font-size: 13px
					padding-bottom: 9px
					.button
						padding: 4px 40px
					img
						width: 25px
						padding-left: 8px

	.my-footer 
		.soc-section
			h2
				&:first-child
					padding-left: 33px
			.soc-wrapper 
				.soc
					font-size: 28px
					li
						margin: 0px 15px
		.callback
			h3
				font-size: 20px
			button
				bottom: 0px
			.button
				padding: 6px 55px
				margin-top: 10px
			input
				width: 450px
				padding: 5px 0 5px 20px


	.section-advantages 
		.advantages-content
			padding-top: 0
			margin-left: 90px
			.btn-wrapper
				padding: 15px 0 100px 0
	
	
	.button
		padding: 5px 40px
		font-size: 14px	

	.my-footer
		.callback
			.button
				padding: 6px 55px
				margin-top: 10px
			input
				width: 450px
				padding: 5px 0 5px 20px
	

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.first-menu
		.icons
			li
				font-size: 20px 
				padding-right: 25px
				img
					width: 30px
	.slider
		.slide-content-text
			&::before
				height: 155px
				width: 3px
			&::after
				width: 400px
				height: 200px
		.slide 
			h2
				font-size: 24px
				
			p
				font-size: 10px
	.button
		padding: 5px 38px
	
	
	.section-1 
		.tascs-left
			margin-left: -15px
			p
				font-size: 14px
				margin: 7px -25px
			&::before
				height: 104px
		.claster-img-right 
			img
				height: 105px
				width: 105px
			p
				font-size: 12px
			.btn-wrapper
				padding: 0px 0 80px 0
				.button
					padding: 4px 20px
					font-size: 10px 


	.section-news 
		.news-wrapper 
			.news-item
				.news-content
					padding-top: 15px
					span
						padding: 4px 55px 4px 10px
						margin-left: -30px
						font-size: 12px
					p
						margin-left: -20px
						font-size: 14px
				.btn
					margin-left: -145px
					font-size: 13px
					padding-bottom: 9px
					.button
						padding: 3px 35px
					img
						width: 25px

	


	.my-footer
		.callback
			.button
				padding: 6px 55px
				margin-top: 10px
			input
				width: 280px
				padding: 5px 0 5px 20px
		.soc-section
			h2
				font-size: 18px
			.soc-wrapper 
				.soc
					a
						font-size: 30px
					li
						margin: 0 10px
	

	.section-default
		.capton-style
			font-size: 10px
			text-align: centr
			padding-left: 20px
		.xs-style
			span
				padding-left: 70px

	.first-menu
		text-align: left
		.icons 
			li
				padding-right: 15px 
				img
					width: 25px

	

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	
	.slider 
		.owl-dots 
			text-align: left
			margin-left: 80px


	.section-1 
		.tascs-left
			margin-left: -45px
			padding-right: 62px
			padding-bottom: 20px
			&::before
				height: 90px
			p
				margin: -2px -25px
				font-size: 12px
		.claster-img-right
			text-align: left 
			img
				height: 90px
				width: 90px
				min-width: 60%
	
		
		 
				

	.section-advantages 
		.advantages-content
			font-size: 12px
			margin-left: 0
			img
				width: 80px

	.section-news
		padding-bottom: 50px 
		.news-wrapper
			
			.btn-wrapper
				padding: 0
			.news-item 
				.news-content
					padding-top: 14px
			
	.my-footer
		.soc-section
				h2
					font-size: 16px
				.soc-wrapper 
					.soc
						a
							.fa
								font-size: 30px
								&:hover
									font-size: 30px
								&:active
									font-size: 30px
	

			
	

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/
	

/* Small Devices, Tablets */
@media only screen and (min-width : 767px)
	/**/
	
	
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/
	

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
	
@media only screen and (min-width : 1450px)
	/**/
	
	.slider 
		.slide-content-text
			width: 80%
			
@media only screen and (min-width : 1900px)
	
	.slider 
		.slide-content-text
			h2
				margin-top: 10px
				margin-bottom: 0
			p
				font-size: 26px
				margin-bottom: 100px
			&::before
				height: 255px
				top: 17px
			.button
				padding: 15px 63px
				font-size: 22px