@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	&.ishome
		.site-header
			min-height: 700px
			.top-line
				padding-top: 40px
				position: relative
				width: 100%
				z-index: 1
				border-bottom: 1px solid $accent


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold


//Start header

.menu-wrapper
	border-bottom: 1px solid $accent
	position: relative
	.logo-wrapper
		position: relative
		
		.logo
			position: absolute
			right: 100px
			img
				width: 115px
				height: auto

		

.first-menu
	color: $accent
	position: relative
	top: 20px	
	.icons
		padding-bottom: 20px
		list-style-type: none
		li
			display: inline-block
			margin: 0 25px
		.lang
			text-align: center
			
			a
				border: 1px solid $accent
				text-decoration: none
				color: $accent
				padding: 0px 5px
			.fa
				width: 10px
				color: $accent
				padding-left: 5px
				position: absolute

.my-menu
	position: relative
	li
		text-decoration: none
		display: inline-block	
		a
			margin: 0 50px
			color: $accent
		&::before
			content: ''
			width: 10px
			height: 10px
			border: 1px solid $accent
			position: absolute
			bottom: 8px

.my-menu-wrapper
	position: relative

.button
	color: $accent
	background-color: #fff
	font-size: em(16px)
	padding: 10px 53px
	position: relative
	transition: background-color .25s ease
	border: 1px solid $accent
	&:hover
		background-color: lighten($accent, 12%)

	&:active
		background-color: darken($accent, 10%)
	&:hover, &:focus
		text-decoration: none
		color: #222
	&-small
		font-size: em(14px)
		padding: 6px 18px
		&::after
			height: 2px
.btn-wrapper
	text-align: center
	padding: 25px 0 55px 0
	.green-btn
		background-color: $accent
		color: #fff
		text-align: center
		z-index: 2
		&:hover
			background-color: lighten(#fff, 12%)
			color: #000
		&:active
			background-color: darken($accent, 10%)
		&:hover, &:focus
			text-decoration: none
			color: #222
		
.slider-wrap
	position: relative
	padding-bottom: 10px
	border-bottom: 1px solid $accent

	.slider-nav-container
		position: relative

		.slider-nav
			position: absolute
			width: 100%
			z-index: 2
			top: 250px
			div
				cursor: pointer
				position: absolute
				top: 390px
				right: 40px
				&:last-child
					right: 0


.slider
	top: 0
	width: 100%
	overflow-x: hidden
	.owl-dots
		position: absolute
		bottom: 10px
		width: 100%
		text-align: center
		.owl-dot
			display: inline-block
			margin: 0 10px
			width: 18px
			height: 18px
			border: 2px solid #f9f6ef
			border-radius: 10em
			cursor: pointer
			transition: background-color .25s ease
			&.active
				background-color: $accent
	.slide-wrap
		float: left
		&.active
			h2
				opacity: 1
				left: 0
			p
				left: 0
				opacity: 1
			.slide-img-wrap
				opacity: 1
				transform: scale(1)
	.slide
		color: #fff 
		padding-bottom: 130px
		position: relative
		padding-top: 570px
		
		h2
			font-family: "roboto-example", sans-serif
			font-weight: 400
			font-size: 68px
			line-height: 1
			margin-top: 30px
			margin-bottom: 25px
			position: relative
			left: 100px
			opacity: 0
			transition: all 1s ease
			z-index: 2
		p
			font-family: "RobotoRegular", sans-serif
			opacity: .75
			margin-bottom: 76px
			position: relative
			left: 50px
			opacity: 0
			transition: all 1.5s ease
			transition-deley: .15s
			z-index: 2

		&-content
			padding-left: 50px



			&-text
				position: absolute
				bottom: 0
				padding-left: 100px
				&::before
					content: ''
					height: 220px
					width: 5px
					position: absolute
					background-color: #fff
					z-index: 2
					top: 28px
					left: 70px

				&::after
					content: ''
					height: 280px
					width: 700px
					top: 0
					background-color: $accent
					opacity: .75
					position: absolute
					left: -15px
					z-index: 1
		&-bg
			position: absolute
			bottom: 0
			left: 0
			right: 0
			background-size: cover
			height: 555px


		&-content
			position: relative


//End header
.section-default
	padding-top: 70px
	.capton-style
		text-align: center
		text-transform: uppercase
		span
			color: #fff
			background-color: $accent
			padding-left: 60px
.section-1
	position: relative
	.claster-tascs-wrapper
		position: relative
		&::before
			content: ''
			background-image: url(../img/spikeles.png)
			background-size: cover
			position: absolute
			top: 0
			left: 70px
			bottom: 10px
			right: 0
			opacity: .20
	


	.claster-img
		padding: 10px
		text-align: center

		img
			height: 195px
			width: 195px
			border: 1px solid $accent
			margin: 2px 10px

	.tascs-right
		position: absolute
		padding-top: 13px
		p
			text-align: right
			font-size: 18px
			margin: 40px 4px
		&::before
			content: ''
			background-color: $accent
			height: 195px
			width: 5px
			position: absolute
			right: -25px

	.tascs-left
		position: absolute
		padding-top: 13px
		p
			font-size: 18px
			margin: 40px -6px

		&::before
			content: ''
			background-color: $accent
			height: 195px
			width: 5px
			margin-right: 10px
			position: absolute
			left: -40px

.section-advantages
	position: relative
	.advantages-content
		text-align: center
		padding-top: 60px
		.button
			top: 40px

.section-news
	position: relative
	padding-bottom: 50px
	border-bottom: 1px solid $accent
	.news-wrapper
		background-image: url("../img/bg-section-3.jpg")
		background-repeat: no-repeat
		background-position: bottom

		.new-news
			border: 1px solid $accent
			margin: 10px 20px
			.news-item
				background-color: #fff
			.new-item-img
				padding: 20px 10px 20px 20px
				background-size: cover
				position: relative
				float: left
			.news-item
				span
					font-size: 12px
					background-color: $accent
					color: #fff
					padding: 5px 80px 5px 10px
					text-align-last: auto
					margin-left: -10px
				p
					font-family: "roboto-example"
					font-size: 12px
					padding-left: 10px
					padding-top: 5px
					margin-right: 37px
				&-text
					padding-top: 18px
					padding-left: 30px
			.btn
				padding: 15px 162px
				.button
					padding: 5px 44px
					box-shadow: 0 8px 10px -6px rgba(50,50,50,.75)

			.info
				position: absolute
				padding-left: 10px
				padding-top: 1px
.section-participants
	position: relative
	border-bottom: 1px solid $accent

	h2
		text-align: center
		text-transform: uppercase				
	.participants-wrapper
		text-align: center
		padding: 30px
		

		.participants-item
			text-align: center
			padding-top: 10px
			position: relative
			min-height: 150px
		.btn-wrapper
			.button
				padding: 10px 20px
				box-shadow: 0 8px 10px -8px rgba(50,50,50,.75)
			.green-btn
				padding: 10px 30px
				margin: 20px
.my-footer
	position: relative
	.soc-section
		position: relative
		border-bottom: 1px solid $accent
		text-align: center
		padding-top: 10px
		h2
			text-transform: uppercase
			font-size: 20px
			text-align: center
			font-family: "roboto-example", sans-serif
			font-weight: 400
			padding-top: 20px
			color: $accent
			&:first-child
				color: #000
		.soc-wrapper
			position: relative
			margin-top: -40px
			.soc
				margin: auto
				ul, li
					list-style-type: none
					display: inline-block
					margin: 0 40px
					text-align: center
				a
					color: $accent
					font-size: 64px
					display: block
					text-align: center
					margin: 18px 0
					transition: font-size .15s ease 
					.fa
						&:hover
							font-size: 74px
						&:active
							font-size: 54px

.my-footer
	.callback
		background-color: $accent
		.formhead
			margin-top: 12px
			font-size: 22px
			color: #fff
			text-transform: uppercase
		input, textarea, select,
		.selectize-control .selectize-input,
		.selectize-control.single .selectize-input.input-active
			color: #000
			width: 450px
			padding: 5px 0 5px 35px
		.button
			padding: 5px 53px
			margin-bottom: 20px


.my-footer
	.main-footer
		position: relative
		text-align: left
		padding-top: 30px
	
		.logo-wrapper
			padding-top: 22px
		h4
			padding-left: 40px
		li
			list-style-type: none
			a
				text-decoration: none
				color: #2b2b2b
			.fa
				color: $accent
				font-size: 24px
				padding-right: 20px
				&:last-child
					font-size: 28px
				&:first-child
					font-size: 29px
	&::before
		content: ''
		background-image: url(../img/bg-footer.jpg)
		position: absolute
		background-size: cover
		top: 0
		left: 0
		right: 0
		bottom: 0
		width: 100%
		height: auto
		opacity: .30
		background-repeat: no-repeat

	
		







// .slide-img-wrap
// 	padding-top: 12px
// 	opacity: 0
// 	transform: scale(.8)
// 	transition: all 1s 
// 	transition-deley: .25s
// 	img
// 		max-width: 100%
	


@import "media" // Always at the end
